[run]
branch=True
command_line= -m pytest -o "testpaths=tests" --cov=tf_cure/ --cov-report term-missing
omit =
		build/*
		dist/*
		plotter.egg-info/*
		.eggs/*
		env/*
		.git/*
		.pytest_cache/*
		**/__init__.py
source=
        	tf_cure/src/

[tool:pytest]
testpaths = tests
addopts = --cov=tf_cure/ --cov-report term-missing --rng-salt "v0.1.0"

[report]
show_missing=True


